.breadcrumb_item {
	font-size: 12px;
	font-weight: 600;
	color: #44495b;
	text-decoration: none;
  transition: all 200ms ease-out;
}

.breadcrumb_item:hover a {
  transition: all 200ms ease-out;
}

.breadcrumb_item:hover a {
	color: #6A6E83;
}

.breadcrumb_item_active {
	color: #a8b1ce;
}
