.container {
  background: #f6f7f9;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 4px;
  font-size: var(--fs-300);
}

.button {
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #6a6e83;
}

.button.active {
  background: #ffffff;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #44495b;
  border-radius: 8px;
}
