.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table:is(td, th) {
  text-align: left;
}

.table th {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #6A6E83;
}

.table th:hover {
  cursor: pointer;
}

.table thead {
  background: #EDEFF5;
  border-bottom: 1px solid #e1e1e1;
}

.table thead th {
  padding: 0.75rem 1rem;
  white-space: nowrap;
  font-weight: 500;
}

.table tbody tr td {
  padding: 0.6rem 1rem;
}

/* .table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
} */

.table tbody tr {
  border: 1px solid #EDEFF5;
}

.table tbody tr:last-child {
  border: 0;
}


.table tbody tr td {
  text-align: center; 
  font-weight: 500;
  font-size: 14px;
  color: #6A6E83;
}