.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table:is(td, th) {
  text-align: left;
}

.table th {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #6a6e83;
}

.table th:hover {
  cursor: pointer;
}

.table thead th {
  white-space: nowrap;
  font-weight: 500;
}

.table tbody tr td {
  padding: 0.6rem 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #6a6e83;
}
